appdirs==1.4.4
black==21.5b1
certifi==2020.12.5
click==8.0.1
Deprecated==1.2.12
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.logging==3.1.0
jaraco.stream==3.0.2
jaraco.text==3.5.0
miniirc==1.6.3
miniirc-extras==0.3.4
more-itertools==8.8.0
mypy-extensions==0.4.3
pathspec==0.8.1
pygame==2.0.1
pytz==2021.1
regex==2021.4.4
tempora==4.0.2
toml==0.10.2
wrapt==1.12.1
